header.top
	.toolbar
		display flex
		justify-content space-between

		> div
			display flex

		.left
			display flex
			height 56px
			align-items center
			
            .menuIcon
                padding 12px
.left
    height 60px
    width 60px

.logo
    height 60px
    width 60px

.app-header-menu-item
	svg
		margin-right 10px
		color rgba(0, 0, 0, 0.54)
		
	> a
		display flex
		color inherit